@CHARSET "ISO-8859-1";
.button1 {
display: block;
width: 65px;
height: 40px;
background: transparent;
background-color:transparent;
border: activeborder;
}
.button2 {
display: block;
width: 65px;
height: 40px;
background: transparent;
background-color:transparent;
border: activeborder;
}
.button3 {
display: block;
width: 65px;
height: 40px;
background: transparent;
background-color:transparent;
border: activeborder;
}
.button4 {
display: block;
width: 65px;
height: 40px;
background: transparent;
background-color:transparent;
border: activeborder;
}
